{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create a New Listing</h2>

    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
            {% if form.title.errors %}
                <div class="alert alert-danger">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" placeholder="Description" rows="4" required></textarea>
            {% if form.description.errors %}
                <div class="alert alert-danger">
                    {{ form.description.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="image_url">Image URL (optional)</label>
            <input type="url" name="image_url" class="form-control" id="image_url" placeholder="Image URL">
        </div>
        
        <div class="form-group">
            <label for="bid">Starting Bid</label>
            <input type="number" name="bid" class="form-control" id="bid" placeholder="Starting Bid" required>
            {% if form.bid.errors %}
                <div class="alert alert-danger">
                    {{ form.bid.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="category">Choose a category</label>
            <select name="category" id="category" class="form-control" required>
                <option value="select">Select a category</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Create Listing</button>
    </form>

{% endblock %}